// Variables

// Color overrides

// Set a custom color
$rooibos: #c45525 !default;
$moules: #345a61 !default;
$rigolo: #86ebe6 !default;
$caramel: #de9440 !default;
$biscuit: #e8a75d  !default;

// Set primary color to biscuit
$primary: $biscuit !default;

// Set secondary color to moules
$secondary: $moules !default;

// Font overrides
$font-family-sans-serif: "Open Sans", sans-serif !default;

$font-family-serif: "Scope One", sans-serif !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

// Custom variables
$navbar-height: 72px;
