{% extends 'pur_beurre/off_sub/templates/off_sub/base.html' %}
{% load static %}

{% block masthead_title %}
  Oups...
{% endblock %}

{% block masthead_subtitle %}
  Vous venez d'ouvrir la porte du réfrigérateur, mais il est vide, désolé !
{% endblock %}

{% block masthead_form %}
  <div class="text-center">
    <form action="/">
      <input type="submit" value="Retour à l'accueil" class="btn btn-primary" />
    </form>
  </div>
{% endblock %}

{% block section_one_divider %}{% endblock %}

{% block section_one_pictures %}
  <img src="{% static 'img/404/refrigerator-158634.svg' %}">
{% endblock %}