{% extends 'off_sub/base.html' %}
{% load static %}

{% block masthead_title %}Changement de mot de passe{% endblock masthead_title %}

{% block masthead_divider %}{% endblock masthead_divider %}

{% block section_one_divider %}{% endblock section_one_divider %}

{% block section_one_text %}
  <div class="card text-center border-solid">
    <div class="card-body">
      {% for error in form.old_password.errors %}
        <p class="text-danger text-left">{{ error }}</p>
      {% endfor %}
      {% for error in form.new_password2.errors %}
        <p class="text-danger text-left">{{ error }}</p>
      {% endfor %}
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="row form-group">
            <div class="col-12 col-md-3 text-left">
              <label>{{ field.label_tag }}</label>
            </div>
            <div class="col-12 col-md-9">
              {{ field }}
            </div>
            <div class="text-left">
              {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <div class="form-group mt-auto">
          <input type="submit" name="login_form" value="Changer de mot de passe" class="btn btn-outline-primary" />
        </div>
      </form>
    </div>
  </div>
{% endblock section_one_text %}


{% block section_two %}
  <section class="page-section bg-moules text-white py-4">
    <div class="text-center">
      <a class="btn btn-primary" href="{% url 'off_sub:index' %}">Retour à l'accueil</a>
    </div>
  </section>
{% endblock section_two %}