{% extends 'off_sub/base.html' %}
{% load static %}


{% block masthead_title %}
  Connexion
{% endblock masthead_title %}

{% block masthead_subtitle %}
  Vous avez déjà un compte ? Connectez-vous !<br />
  Pas encore inscrit ? N'attendez plus, rejoignez-nous !
{% endblock masthead_subtitle %}

{% block section_one_divider %}{% endblock section_one_divider %}

{% block section_one_text %}
  {% if authentication_form.non_field_errors %}
    {% for error in authentication_form.non_field_errors %}
      <p class="text-danger text-center">{{ error }}</p>
    {% endfor %}
  {% else %}
    {% for error in user_creation_form.email.errors %}
      <p class="text-danger text-center">{{ error }}</p>
    {% endfor %}
    {% for error in user_creation_form.password2.errors %}
      <p class="text-danger text-center">{{ error }}</p>
    {% endfor %}
  {% endif %}
  <div class="card text-center border-solid">
    <div class="card-header">
      <ul id="signTab" role="tablist" class="nav nav-tabs card-header-tabs nav-fill">
        <li class="nav-item">
          <a class="nav-link active" id="se-connecter" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="nous-rejoindre" data-toggle="tab" href="#signup" role="tab" aria-controls="signup" aria-selected="true">Nous rejoindre</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content" id="signTabContent">
        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="se-connecter">
          <form method="post">
            {% csrf_token %}
            {% for field in authentication_form %}
              <div class="row form-group">
                <div class="col-12 col-md-3 text-left">
                  <label>{{ field.label_tag }}</label>
                </div>
                <div class="col-12 col-md-9">
                  <div class="is-invalid">
                  {{ field }}
                  </div>
                </div>
              </div>
            {% endfor %}
            <div class="form-group mt-auto">
              <input type="submit" name="login_form" value="Se connecter" class="btn btn-outline-primary" />
            </div>
            <a id="forgotten_pwd" href="{% url 'auth:reset_password' %}">Mot de passe oublié ?</a>
          </form>
        </div>
        <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="nous-rejoindre">
          <form method="post">
            {% csrf_token %}
            {% for field in user_creation_form %}
              <div class="row form-group">
                <div class="col-12 col-md-3 text-left">
                  <label>{{ field.label_tag }}</label>
                </div>
                <div class="col-12 col-md-9">
                  <div class="is-invalid">
                    {{ field }}
                  </div>
                </div>
              </div>
            {% endfor %}
            <div class="form-group mt-auto">
              <input type="submit" name="sign_up_form" value="Créer un compte" class="btn btn-outline-primary" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock section_one_text %}
