{% extends 'off_sub/base.html' %}
{% load static %}

{% block masthead_title %}Réinitialisation du mot de passe{% endblock masthead_title %}

{% block masthead_divider %}{% endblock masthead_divider %}

{% block section_one_divider %}{% endblock section_one_divider %}

{% block section_one_text %}
  <div class="text-center">
    <p>Si votre courriel est valide et rattaché à un compte existant sur notre site, nous venons de vous envoyer un lien de réinitialisation de votre mot de passe.</p>
  </div>
{% endblock section_one_text %}