{% extends 'off_sub/base.html' %}
{% load static %}


{% block masthead_title %}Réinitialisation du mot de passe{% endblock masthead_title %}

{% block masthead_divider %}{% endblock masthead_divider %}

{% block section_one_divider %}{% endblock section_one_divider %}

{% block section_one_text %}
  <div class="card text-center border-solid">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="row form-group">
            <div class="col-12 col-md-3 text-left">
              <label>{{ field.label_tag }}</label>
            </div>
            <div class="col-12 col-md-9">
              {{ field }}
            </div>
            <div class="text-left">
              {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <div class="form-group mt-auto">
          <button class="btn btn-outline-primary">Envoyer</button>
        </div>
      </form>
    </div>
  </div>
{% endblock section_one_text %}
