{% extends 'off_sub/food_list.html' %}
{% load static %}


{% block masthead_divider %}{% endblock masthead_divider %}

{% block masthead_title %}
  Mes aliments favoris
{% endblock masthead_title %}


{% block section_one_title %}
  {% if user_favorites %}
    <div class="text-center py-3">
      <form action="{% url 'off_sub:favorites' %}">
        <button class="btn btn-outline-secondary">Actualiser mes favoris</button>
      </form>
    </div>
    {{ user.first_name }}, voici la liste de vos produits enregistrés :
  {% else %}
    {{ user.first_name }}, vous n'avez aucun produit enregistré.
  {% endif %} 
{% endblock section_one_title %}

{% block section_one_divider %}{% endblock section_one_divider %}

{% block section_one_bottom %}
  <div class="text-center py-3">
    <form action="{% url 'off_sub:favorites' %}">
      <button class="btn btn-outline-secondary">Actualiser mes favoris</button>
    </form>
  </div>
{% endblock section_one_bottom %}