{% extends 'off_sub/food_list.html' %}
{% load static %}


{% block jumbotron_text %}
  <h1 class="text-white display-4 text-center">Favoris</h1>
{% endblock %}



{% block section_2_intro %}
  Voici la liste de vos produits enregistrés :
{% endblock %}


{% block product_name_1 %}
  Purée noisette
{% endblock %}

{% block product_save_unsave_1 %}
  <button type="button" class="btn btn-outline-warning">Retirer des favoris</button>
{% endblock %}


{% block product_name_2 %}
  Purée amande complète
{% endblock %}

{% block product_save_unsave_2 %}
  <button type="button" class="btn btn-outline-warning">Retirer des favoris</button>
{% endblock %}


{% block product_name_3 %}
  Purée amande blanche
{% endblock %}

{% block product_save_unsave_3 %}
  <button type="button" class="btn btn-outline-warning">Retirer des favoris</button>
{% endblock %}


{% block product_name_4 %}
  Huile d'olive Vierge Extra biologique il manque une "fruit" - Echinac - 1 l
{% endblock %}

{% block product_save_unsave_4 %}
  <button type="button" class="btn btn-outline-warning">Retirer des favoris</button>

{% endblock %}


{% block product_name_5 %}
  Gâteau Breton Fourré à la Crème de Pruneaux - Leader Price - 400 g
{% endblock %}

{% block product_save_unsave_5 %}
  <button type="button" class="btn btn-outline-warning">Retirer des favoris</button>
{% endblock %}


{% block product_name_6 %}
  Kapern - Feinkost Dittmann - 60 g
{% endblock %}

{% block product_save_unsave_6 %}
  <button type="button" class="btn btn-outline-warning">Retirer des favoris</button>
{% endblock %}
