{% extends 'off_sub/food_list.html' %}
{% load static %}


{% block masthead_divider %}{% endblock masthead_divider %}

{% block masthead_title %}
  Favoris
{% endblock masthead_title %}



{% block section_one_title %}
  {% if user_favorites %}
    {{ user.first_name }}, voici la liste de vos produits enregistrés :
  {% else %}
    {{ user.first_name }}, vous n'avez aucun produit enregistré.
  {% endif %} 
{% endblock section_one_title %}

{% block section_one_divider %}{% endblock section_one_divider %}

{% if user_has_favorites %}

{% endif %}

