{% extends 'pur_beurre/off_sub/templates/off_sub/base.html' %}
{% load static %}


{% block section_one_pictures %}
  <div class="container-fluid p-0">
    <div class="row">
    {% for prod in products_list %}
      <div class="col-12 col-sm-4 p-4">
        <div class="card h-100">
          <div class="row">
            <div class="col-1 offset-11 p-0 z-index-1">
              {% if prod.nutriscore_grade == "a" %}
                <img class="img-fluid corner-top-right" src="{% static 'img/nutriscores/a.png' %}" alt="{{ prod.nutriscore_grade }}" />
              {% elif prod.nutriscore_grade == "b" %}  
                <img class="img-fluid corner-top-right" src="{% static 'img/nutriscores/b.png' %}" alt="{{ prod.nutriscore_grade }}" />
              {% elif prod.nutriscore_grade == "c" %}  
                <img class="img-fluid corner-top-right" src="{% static 'img/nutriscores/c.png' %}" alt="{{ prod.nutriscore_grade }}" />
              {% elif prod.nutriscore_grade == "d" %}  
                <img class="img-fluid corner-top-right" src="{% static 'img/nutriscores/d.png' %}" alt="{{ prod.nutriscore_grade }}" />
              {% elif prod.nutriscore_grade == "e" %}  
                <img class="img-fluid corner-top-right" src="{% static 'img/nutriscores/e.png' %}" alt="{{ prod.nutriscore_grade }}" />
              {% endif %}
            </div>
            <div class="col-10 offset-1 p-0 z-index-0">
              <a href="/food/{{ prod.id }}">
                {% if prod.image_url %}
                  <img class="card-img-top p-0 img-s-square" src="{{ prod.image_url }}" alt="photo du produit" />
                {% else %}
                  <p>(photo manquante)</p>
                {% endif %}
              </a>
              <div class="card-body">
                <div class="text-center">
                  <a href="/food/{{ prod.id }}">
                    {% if prod.product_name %}
                      <p class="card-text text-muted">{% block product_name %}{{ prod.product_name }}{% endblock %}</p>
                    {% else %}
                      <p>(nom manquant)</p>
                    {% endif %}
                  </a>
                  {% if user_authenticated %}
                    {% block product_save_unsave %}
                      <form id="{{ prod.id }}" method="post">
                        <!-- Displayed button depends on user's favorites -->
                        {% if prod in user_favorites %}
                          <div class="d-block">
                            <button class="btn btn-outline-danger unsaveProduct" method="post" type="button" property="{{ prod.id }}" ajax-unsave-product-url="{% url 'off_sub:ajax_unsave_product' %}">Retirer des favoris</button>
                          </div>
                          <div class="d-none">
                            <button class="btn btn-outline-success saveProduct" method="post" type="button" property="{{ prod.id }}" ajax-save-product-url="{% url 'off_sub:ajax_save_product' %}"><i class="far fa-save"></i> Sauvegarder</button>
                          </div>
                        {% else %}
                          <div class="d-block">
                            <button class="btn btn-outline-success saveProduct" method="post" type="button" property="{{ prod.id }}" ajax-save-product-url="{% url 'off_sub:ajax_save_product' %}"><i class="far fa-save"></i> Sauvegarder</button>
                          </div>
                          <div class="d-none">
                            <button class="btn btn-outline-danger unsaveProduct" method="post" type="button" property="{{ prod.id }}" ajax-unsave-product-url="{% url 'off_sub:ajax_unsave_product' %}">Retirer des favoris</button>
                          </div>
                        {% endif %}
                      </form>
                    {% endblock %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock section_one_pictures %}

{% block scripts %}
  <script src="{% static 'js/custom_save_unsave_favorites.js' %}"></script>
{% endblock scripts %}
