{% extends 'off_sub/base.html' %}
{% load static %}


{% block section_one_pictures %}
  <div class="container-fluid p-0">
    <div class="row">
    {% for prod in products_list %}
      <div class="col-12 col-sm-4 p-4">
        <div class="card h-100">
          <div class="row">
            <div class="col-1 offset-11 p-0 z-index-1">
              {% if prod.nutriscore_grade == "a" %}
                <img class="img-fluid corner-top-right" src="{% static 'img/nutriscores/a.png' %}" alt="{{ prod.nutriscore_grade }}" />
              {% elif prod.nutriscore_grade == "b" %}  
                <img class="img-fluid corner-top-right" src="{% static 'img/nutriscores/b.png' %}" alt="{{ prod.nutriscore_grade }}" />
              {% elif prod.nutriscore_grade == "c" %}  
                <img class="img-fluid corner-top-right" src="{% static 'img/nutriscores/c.png' %}" alt="{{ prod.nutriscore_grade }}" />
              {% elif prod.nutriscore_grade == "d" %}  
                <img class="img-fluid corner-top-right" src="{% static 'img/nutriscores/d.png' %}" alt="{{ prod.nutriscore_grade }}" />
              {% elif prod.nutriscore_grade == "e" %}  
                <img class="img-fluid corner-top-right" src="{% static 'img/nutriscores/e.png' %}" alt="{{ prod.nutriscore_grade }}" />
              {% endif %}
            </div>
            <div class="col-10 offset-1 p-0 z-index-0">
              <a href="/food/{{ prod.id }}">
                {% if prod.image_url %}
                  <img class="card-img-top p-0 img-s-square" src="{{ prod.image_url }}" alt="photo du produit" />
                {% else %}
                  <p>(photo manquante)</p>
                {% endif %}
              </a>
              <div class="card-body">
                <div class="text-center">
                  <a href="/food/{{ prod.id }}">
                    {% if prod.product_name %}
                      <p class="card-text text-muted">{% block product_name %}{{ prod.product_name }}{% endblock %}</p>
                    {% else %}
                      <p>(nom manquant)</p>
                    {% endif %}
                  </a>
                  {% block product_save_unsave %}Coucou{% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}

{% block section_3 %}{% endblock %}

