{% extends 'off_sub/base.html' %}
{% load static %}

{% block masthead_style %}
  background: #343a40;
{% endblock %}

{% block masthead_picture %}
  <a href="/food/{{ product.id }}">
    {% if product.image_url %}
      <img class="img-fluid" src={{ product.image_url }} alt="photo du produit" style="max-width: 100%; max-height: 40vh;"/>
    {% else %}
      <p>(photo manquante)</p>
    {% endif %}
  </a>
{% endblock %}

{% block masthead_divider %}{% endblock %}

{% block masthead_subtitle %}
  <a href="/food/{{ product.id }}">
    {% if product.product_name %}
      {{ product.product_name }}
    {% else %}
      <p>(nom manquant)</p>
    {% endif %}
  </a>
{% endblock %}

{% block section_one %}
  <section class="page-section" id="section-one">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 text-center">
          <a href="https://fr.openfoodfacts.org/nutriscore" title="Informations concernant le nutriscore" target="_blank">
            {% if product.nutriscore_grade == "a" %}
              <img class="img-fluid" src="{% static 'img/nutriscores/nutri_a.png' %}" alt="(A)BCDE" />
            {% elif product.nutriscore_grade == "b" %}  
              <img class="img-fluid" src="{% static 'img/nutriscores/nutri_b.png' %}" alt="A(B)CDE" />
            {% elif product.nutriscore_grade == "c" %}  
              <img class="img-fluid" src="{% static 'img/nutriscores/nutri_c.png' %}" alt="AB(C)DE" />
            {% elif product.nutriscore_grade == "d" %}  
              <img class="img-fluid" src="{% static 'img/nutriscores/nutri_d.png' %}" alt="ABC(D)E" />
            {% elif product.nutriscore_grade == "e" %}  
              <img class="img-fluid" src="{% static 'img/nutriscores/nutri_e.png' %}" alt="ABCD(E)" />
            {% endif %}
          </a>
        </div>
        <div class="col-12 col-sm-6 d-flex justify-content-center">
          <div>
            <p class="h3 text-left"><a href="https://fr.openfoodfacts.org/reperes-nutritionnels" title="Informations concernant les repères nutritionnels" target="_blank">Repères nutritionnels pour 100g :</a></p>
            <p class="text-left">
              <ul>
                <li>Matières grasses / Lipides : {{ product.fat }}</li>
                <li>Acides gras saturés : {{ product.saturated_fat }}</li>
                <li>Sucres : {{ product.sugars }}</li>
                <li>Sel : {{ product.salt }}</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-12 text-center">
          <form action="{{ product.url }}" target="_blank">
            <input type="submit" value="Voir la fiche d'OpenFoodFacts" class="btn btn-outline-primary my-3"></submit>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
