{% extends 'pur_beurre/off_sub/templates/off_sub/base.html' %}
{% load static %}


{% block masthead_title %}
  Du gras, oui, mais de qualité !
{% endblock masthead_title %}

{% block masthead_subtitle %}
  Trouvez un produit de substitution pour ceux que vous consommez tous les jours.
{% endblock masthead_subtitle %}

{% block masthead_form %}
  <div class="text-center">
    <form id="productSubmitFormIndex" method="post" class="productSubmitForm" action="{% url 'off_sub:results' 0 %}" ajax-find-product-url="{% url 'off_sub:ajax_find_product' %}">
      {% csrf_token %}
      <div class="ui-widget d-inline-flex">
        <label for="autocompletion-1"></label>
        <input id="autocompletion-1" class="form-control" type="text" placeholder="Produit" />
        <input type="submit" value="Chercher" class="btn btn-primary" />
      </div>
    </form>
  </div>
{% endblock masthead_form %}

{% block section_one_title %}
  Colette et Rémy
{% endblock section_one_title %}

{% block section_one_subtitle %}
  De la ratatouille aux croissants
{% endblock section_one_subtitle %}

{% block section_one_text %}
  <p>Pur Beurre est l'initiative de deux amoureux de la gastronomie française, Colette Tatou et Rémy, que vous avez déjà certainement rencontrés dans notre excellent restaurant Ratatouille.</p>
  <br /><br />
  <p><strong>Colette Tatou</strong> : "Nous aimons tous manger, surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. Comme beaucoup, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que j'avais l'habitude d'acheter par de bons produits du terroir. Et souvent pour le même prix !"</p>
  <br /><br />
  <p><strong>Rémy</strong> : "Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et les cuisines. Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus. Lorsque Colette m'a demandé si elle pouvait remplacer sa pâte à tartiner matinale par un aliment plus sain, je savais tout de suite où le trouver. L'idée de Pur Beurre était née !"</p>
{% endblock %}

{% block section_one_pictures %}
  <div class="row">
    <div class="col-sm-6 text-center"><figure><img src="{% static 'img/theme/colette-tatou-full.png' %}" alt="Colette"><figcaption>Colette</figcaption></figure></div>
    <div class="col-sm-6 text-center"><figure><img src="{% static 'img/theme/ratatouille-portrait.jpg' %}" alt="Rémy"><figcaption>Rémy</figcaption></figure></div>
  </div>
{% endblock section_one_pictures %}

{% block section_two %}
  <section class="page-section bg-moules text-white py-4" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
          <h2 class="mt-0">Contactez-nous !</h2>
          <hr class="divider my-4">
          <p class="text-white mb-5">N'hésitez pas à nous contacter par téléphone ou par courriel, nous nous ferons un plaisir de vous répondre !</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 ml-auto text-center mb-5 mb-sm-0">
          <i class="fas fa-phone fa-3x mb-3"></i>
          <div>0000000000</div>
        </div>
        <div class="col-sm-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:mail@mail.com" title="mailto:mail@mail.com">mail@mail.com</a>
        </div>
      </div>
    </div>
  </section>
{% endblock section_two %}
