{% extends 'off_sub/base.html' %}
{% load static %}

{% block jumbotron_text %}

  <h1 class="text-white display-4 text-center">Mentions légales</h1>

{% endblock %}

{% block section_2 %}

  <div class="col-12">
    <p class="text-justify">L'illustration de la page 404 (page non trouvée) est une image dessinée par <a href="https://pixabay.com/fr/users/OpenClipart-Vectors-30363/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=158634">OpenClipart-Vectors</a> de <a href="https://pixabay.com/fr/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=158634">Pixabay</a>.</p>
  </div>

{% endblock %}